a {
    text-decoration: none;
    color: white;
  }
  
  a:hover, a:active{
    color: lightgray;
  }
  
  .navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  .button-header-right{
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar, mat-toolbar-row{
    background-color: #44515E;
    
  }