<mat-toolbar color="primary" class="mat-elevation-z10">
        
    <mat-toolbar-row>
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        
        <span class="example-spacer"></span>

        <button mat-icon-button matTooltip="Message">
                <mat-icon matBadge="8" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small">sms</mat-icon>
        </button>
                
        <div class="button-header-right" [matMenuTriggerFor]="menu" aria-label="Usuario">
            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>person</mat-icon>
                      <span>Perfil</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item disabled>
                      <mat-icon>directions_run</mat-icon>
                      <span>Logout</span>
                    </button>
                    
                  </mat-menu>    
        </div>
    </mat-toolbar-row>
    
</mat-toolbar>
