<div class="main-div">
    <mat-card class="my-card">
        <mat-card-title class="my-title">Login</mat-card-title>
        <mat-card-content>
            <div class="parent">
                <form>
                    <div style="text-align:center;">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Usuario">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Contraseña">
                        </mat-form-field>
                    </div>
                </form>
                <button mat-raised-button color="primary">Ingresar</button>
            </div>
        </mat-card-content>
        <mat-card-footer class="my-footer">
            gTemplate 1.0
        </mat-card-footer>
    </mat-card>
</div>



