<div class="gtitle">
    <h2>
        <i class="material-icons">bookmark_border</i> Dashboard
    </h2>
</div>

<mat-grid-list [cols]="breakpoint" rowHeight="1:0.3" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <div class="widget-box color-green">
            <div class="w-cant">21.5k</div>
            <div class="w-desc">users</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="widget-box color-yellow">
            <div class="w-cant">21.5k</div>
            <div class="w-desc">users</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="widget-box color-lightblue">
            <div class="w-cant">21.5k</div>
            <div class="w-desc">users</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="widget-box color-blue">
            <div class="w-cant">21.5k</div>
            <div class="w-desc">users</div>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="gcontainer">
   
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, nam illo asperiores cupiditate quisquam veniam aspernatur distinctio fugit ipsam! Cum repudiandae possimus fugiat expedita consequuntur eius sunt rem voluptatem laborum?</p>

</div>

