/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    height: 100%;
  }

  .gcontainer{
    border: none;
    border-radius: 4px 4px 4px 4px;    
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.gtitle{
    margin-top: 0%;
    padding: 5px;
}

/* WIDGET BOX */

.w-cant {
  font-size: 2.2em;
}

.w-desc {
  font-size: 1em;
}


.widget-box{
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 4px 4px 4px 4px;    
  margin: 0%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin: 10px;
  color: white;
}

.color-green{
  background-color: #9EC68C;
}

.color-yellow{
  background-color: #FFCA5B;
}

.color-lightblue{
  background-color: #4DE5D5;
}

.color-blue{
  background-color: #6AB8F7;
}

/* END WIDGET BOX */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  
}

 